@model List<ProductViewModel>
@{
    ViewData["Title"] = "Posts";
}

@foreach (ProductViewModel item in Model)
{
    <div class="col-6 col-sm-6 col-md-4 col-lg-3 item">
        <!-- start product image -->
    <div class="product-image">
            <!-- start product image -->
         <a asp-controller="Home" asp-action="Post" asp-route-id="@item.Id">
                <!-- image -->
            <img class="primary blur-up ls-is-cached lazyloaded" data-src="@item.Barcode" src="@item.Barcode" alt="image" title="product">
                <!-- End image -->
             
        </a>
            <!-- end product image -->
            <!-- Start product button -->
       <form class="variants add"  asp-controller="Cart" asp-action="Post" method="post">
                <input asp-for="@item.Id" class="form-control" type="text" hidden />
                <button class="btn btn-addto-cart" type="submit" title="">Add Cart</button>
            </form>
            <div class="button-set">
                <a href="javascript:void(0)" title="Quick View" class="quick-view-popup quick-view" data-toggle="modal" data-target="#content_quickview">
                    <i class="icon anm anm-search-plus-r"></i>
                </a>
            </div>
            <!-- end product button -->
    </div>
        <!-- end product image -->
        <!--start product details -->
    <div class="product-details text-center">
            <!-- product name -->
        <div class="product-name">
                <a href="#">@item.FullName</a>
            </div>
            <!-- End product name -->
            <!-- product price -->
        <div class="product-price">
                <h3 >@item.Price1</h3>
            </div>
            <!-- End product price -->
    </div>
        <!-- End product details -->

</div>
}
