@model ProductViewModel

@{
    ViewData["Title"] = "Post";
    Layout = "~/Views/Shared/_Layout.cshtml";
}
<div class="row">
    <div class="col-lg-6 col-md-6 col-sm-12 col-12">
        <div class="product-details-img">
            <div class="pl-20">
                <img src="@Model.Barcode" alt="">
            </div>
        </div>
    </div>
    <div class="col-lg-6 col-md-6 col-sm-12 col-12">
        <div class="product-single__meta">
            <h2 class="product-single__title">@Model.FullName</h2>
            <div class="prInfoRow">
                <div class="product-stock"> <span class="instock ">In Stock</span> <span class="outstock hide">Unavailable</span> </div>
                <div class="product-sku">SKU: <span class="variant-sku">@Model.Sku</span></div>
            </div>
            <p class="product-single__price product-single__price-product-template">
                <span class="visually-hidden">Regular price</span>
                <s id="ComparePrice-product-template"><span class="money">@Model.Price1</span></s>
                <span class="product-price__price product-price__price-product-template product-price__sale product-price__sale--single">
                    <span id="ProductPrice-product-template"><span class="money">@Model.Price1</span></span>
                </span>
            </p>
            <div class="product-single__description rte">
                @Model.MetaDescription
            </div>

            <div id="product_form_10508262282"  class="product-form product-form-product-template hidedropdown">

                <!-- Product Action -->
                <div class="product-action clearfix">
                   @* <div class="product-form__item--quantity">
                        <div class="wrapQtyBtn">
                            <div class="qtyField">
                                <a class="qtyBtn minus" href="javascript:void(0);"><i class="fa anm anm-minus-r" aria-hidden="true"></i></a>
                                <input type="text" id="Quantity" name="quantity" value="1" class="product-form__input qty">
                                <a class="qtyBtn plus" href="javascript:void(0);"><i class="fa anm anm-plus-r" aria-hidden="true"></i></a>
                            </div>
                        </div>
                    </div>*@
                    <div class="product-form__item--submit">
                        <form  asp-controller="Cart" asp-action="Post" method="post">
                            <input asp-for="@Model.Id" class="form-control" type="text" hidden />
                            <button class="btn btn-addto-cart" type="submit" title="">Add Cart</button>
                        </form>
                    </div>
                </div>
                <!-- End Product Action -->
            </div>

        </div>
    </div>
</div>


